<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="unific" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Unific Extension Configuration</label>
            <tab>general</tab>
            <resource>Unific_Extension::core</resource>
            <group id="extension" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Operation Mode</label>
                    <source_model>Unific\Extension\Model\Config\Source\Mode</source_model>
                </field>
                <field id="schedule" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Burst schedule (cron syntax)</label>
                </field>
                <field id="hmacSecret" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>HMAC Secret Key</label>
                </field>
                <field id="hmacAlgorithm" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Hmac Algorithm</label>
                    <source_model>Unific\Extension\Model\Config\Source\HmacAlgorithm</source_model>
                </field>
                <field id="
            </group>
        </section>
    </system>
</config>