<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="unific" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Unific Extension Configuration</label>
            <tab>general</tab>
            <resource>Unific_Extension::group</resource>
            <group id="extension" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="integration_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Unific Integration Identifier Key</label>
                </field>
                <field id="integration" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Unific Integration Identifier</label>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Operation Mode</label>
                    <source_model>Unific\Extension\Model\Config\Source\Mode</source_model>
                </field>
                <field id="schedule" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Burst schedule (cron syntax)</label>
                </field>
            </group>

            <group id="cart" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Abandoned Cart Settings</label>
                <field id="notify_first" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>First Notification Moment</label>
                </field>
                <field id="notify_second" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Second Notification Moment</label>
                </field>
                <field id="notify_third" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Second Notification Moment</label>
                </field>
            </group>

            <group id="hmac" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Security Settings</label>
                <field id="hmacEnable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Hmac Protection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="hmacHeader" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>HMAC Header Name</label>
                </field>

                <field id="hmacSecret" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>HMAC Secret Key</label>
                </field>
                <field id="hmacAlgorithm" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Hashing Algorithm</label>
                    <source_model>Unific\Extension\Model\Config\Source\HashAlgorithm</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
