<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../vendor/magento/framework/ObjectManager/etc/config.xsd">

    <type name="Unific\Extension\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ExtensionLog</argument>
            <argument name="handlers" xsi:type="array"><item name="system" xsi:type="object">\Unific\Extension\Logger\Handler</item></argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Helper\Webhook">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">\Magento\Framework\App\Config\ScopeConfigInterface</argument>
            <argument name="requestModel" xsi:type="object">\Unific\Extension\Model\RequestInterface</argument>
            <argument name="mappingModel" xsi:type="object">\Unific\Extension\Model\MappingInterface</argument>
            <argument name="conditionModel" xsi:type="object">\Unific\Extension\Model\ConditionInterface</argument>
            <argument name="responseConditionModel" xsi:type="object">\Unific\Extension\Model\ResponseConditionInterface</argument>
            <argument name="responseMappingModel" xsi:type="object">\Unific\Extension\Model\ResponseMappingInterface</argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Helper\Request">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">\Magento\Framework\App\Config\ScopeConfigInterface</argument>
            <argument name="httpRequest" xsi:type="object">\Zend\Http\Request</argument>
            <argument name="httpClient" xsi:type="object">\Zend\Http\Client</argument>
            <argument name="httpHeaders" xsi:type="object">\Zend\Http\Headers</argument>
            <argument name="hmacHelper" xsi:type="object">\Unific\Extension\Helper\Hmac</argument>
            <argument name="guidHelper" xsi:type="object">\Unific\Extension\Helper\Guid</argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Helper\Audit\Log"/>
    <type name="Unific\Extension\Helper\Guid"/>
    <type name="Unific\Extension\Helper\Historical"/>

    <preference for="Unific\Extension\Api\HistoricalManagementInterface" type="Unific\Extension\Model\Api\HistoricalManagement" />
    <preference for="Unific\Extension\Api\ModeManagementInterface" type="Unific\Extension\Model\Api\ModeManagement" />
    <preference for="Unific\Extension\Api\ReportManagementInterface" type="Unific\Extension\Model\Api\ReportManagement" />
    <preference for="Unific\Extension\Api\WebhookManagementInterface" type="Unific\Extension\Model\Api\WebhookManagement" />
    <preference for="Unific\Extension\Api\SetupManagementInterface" type="Unific\Extension\Model\Api\SetupManagement" />
    <preference for="Unific\Extension\Api\QueueRepositoryInterface" type="Unific\Extension\Model\QueueRepository" />

    <preference for="Unific\Extension\Api\Data\QueueInterface" type="Unific\Extension\Model\Queue" />
    <preference for="Unific\Extension\Api\Data\IntegrationInterface" type="Unific\Extension\Model\Api\Data\Integration" />
    <preference for="Unific\Extension\Api\Data\HmacInterface" type="Unific\Extension\Model\Api\Data\Hmac" />
    <preference for="Unific\Extension\Api\Data\TotalsInterface" type="Unific\Extension\Model\Api\Data\Totals" />
    <preference for="Unific\Extension\Api\Data\SetupResponseInterface" type="Unific\Extension\Model\Api\Data\SetupResponse" />

    <preference for="Unific\Extension\Api\Data\WebhookInterface" type="Unific\Extension\Model\Api\Data\Webhook" />
    <preference for="Unific\Extension\Api\Data\Webhook\ConditionInterface" type="Unific\Extension\Model\Api\Data\Webhook\Condition" />
    <preference for="Unific\Extension\Api\Data\Webhook\MappingInterface" type="Unific\Extension\Model\Api\Data\Webhook\Mapping" />
    <preference for="Unific\Extension\Api\Data\Webhook\RequestInterface" type="Unific\Extension\Model\Api\Data\Webhook\Request" />
    <preference for="Unific\Extension\Api\Data\Webhook\ResponseInterface" type="Unific\Extension\Model\Api\Data\Webhook\Response" />

    <preference for="Unific\Extension\Model\GroupInterface" type="Unific\Extension\Model\Group"/>
    <preference for="Unific\Extension\Model\RequestInterface" type="Unific\Extension\Model\Request"/>
    <preference for="Unific\Extension\Model\MappingInterface" type="Unific\Extension\Model\Mapping"/>
    <preference for="Unific\Extension\Model\ResponseMappingInterface" type="Unific\Extension\Model\ResponseMapping"/>
    <preference for="Unific\Extension\Model\ConditionInterface" type="Unific\Extension\Model\Condition"/>
    <preference for="Unific\Extension\Model\ResponseConditionInterface" type="Unific\Extension\Model\ResponseCondition"/>

    <virtualType name="unificOrderMetadata" type="Unific\Extension\Model\ResourceModel\Metadata">
        <arguments>
            <argument name="resourceClassName" xsi:type="string">Magento\Sales\Model\ResourceModel\Order</argument>
            <argument name="modelClassName" xsi:type="string">Magento\Sales\Model\Order</argument>
        </arguments>
    </virtualType>

    <type name="Unific\Extension\Plugin\OrderPlugin">
        <arguments>
            <argument name="metadata" xsi:type="object">unificOrderMetadata</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="unific_order_api_webhook" type="Unific\Extension\Plugin\OrderPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="unific_customer_update_webhook" type="Unific\Extension\Plugin\CustomerPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Customer\Api\AddressRepositoryInterface">
        <plugin name="unific_address_update_webhook" type="Unific\Extension\Plugin\CustomerAddressPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Customer\Model\Session">
        <plugin name="unific_customer_login_webhook" type="Unific\Extension\Plugin\CustomerSessionPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Backend\Model\Auth\Session">
        <plugin name="admin_login_webhook" type="Unific\Extension\Plugin\AdminSessionPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\User\Model\User">
        <plugin name="admin_create_webhook" type="Unific\Extension\Plugin\AdminSessionPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Quote\Api\ShipmentEstimationInterface">
        <plugin name="unific_quote_webhook" type="Unific\Extension\Plugin\CartPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="unific_invoice_webhook" type="Unific\Extension\Plugin\InvoicePlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Api\CreditmemoManagementInterface">
        <plugin name="unific_credit_webhook" type="Unific\Extension\Plugin\CreditmemoPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Model\Order\Shipment">
        <plugin name="unific_shipment_webhook" type="Unific\Extension\Plugin\ShipmentPlugin" sortOrder="1"/>
    </type>

    <type name="Unific\Extension\Model\Request">
        <plugin name="after_load_request" type="Unific\Extension\Plugin\AfterLoad" sortOrder="1"/>
    </type>

    <type name="Magento\Catalog\Model\Category">
        <plugin name="unific_category_webhook" type="Unific\Extension\Plugin\CategoryPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="unific_product_webhook" type="Unific\Extension\Plugin\ProductPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="unific_group_listing_data_source" xsi:type="string">
                    Unific\Extension\Model\ResourceModel\Group\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Model\ResourceModel\Group\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">unific_extension_group</argument>
            <argument name="eventPrefix" xsi:type="string">unific_group_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">unific_group_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unific\Extension\Model\ResourceModel\Group</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="unific_request_listing_data_source" xsi:type="string">
                    Unific\Extension\Model\ResourceModel\Request\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Model\ResourceModel\Request\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">unific_extension_request</argument>
            <argument name="eventPrefix" xsi:type="string">unific_request_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">unific_request_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unific\Extension\Model\ResourceModel\Request</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="unific_request_mapping_listing_data_source" xsi:type="string">
                    Unific\Extension\Model\ResourceModel\Mapping\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Model\ResourceModel\Mapping\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">unific_extension_request_mapping</argument>
            <argument name="eventPrefix" xsi:type="string">unific_request_mapping_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">unific_request_mapping_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unific\Extension\Model\ResourceModel\Mapping</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="unific_response_mapping_listing_data_source" xsi:type="string">
                    Unific\Extension\Model\ResourceModel\ResponseMapping\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Model\ResourceModel\ResponseMapping\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">unific_extension_response_mapping</argument>
            <argument name="eventPrefix" xsi:type="string">unific_response_mapping_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">unific_response_mapping_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unific\Extension\Model\ResourceModel\ResponseMapping
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="unific_request_condition_listing_data_source" xsi:type="string">
                    Unific\Extension\Model\ResourceModel\Condition\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Unific\Extension\Model\ResourceModel\ResponseCondition\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">unific_extension_response_condition</argument>
            <argument name="eventPrefix" xsi:type="string">unific_response_condition_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">unific_response_condition_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unific\Extension\Model\ResourceModel\ResponseCondition
            </argument>
        </arguments>
    </type>
</config>